<!DOCTYPE html>
<html >
   <head>
      <meta charset="UTF-8">
      <title>Song Recommendation</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   </head>
   <body>
      <div id="loading"></div>
      <div id="content">
         <div class="Spotify">
            <h1>Spotify Song Recommendation</h1>
            <div class="information">
               <form action="#" method="post">
                  <h2>Track uri:</h2>
                  <p><input type="text" name="track_uri" placeholder="Enter track uri here" required="required" value="{{track_uri}}" autofocus" ></p>
                  <button type="submit" class="btn btn-primary btn-block btn-large btn--loading" style="font-size: 20px">Submit and wait for your recommendations!</button>
                  <!-- <input type="submit" class="btn btn-primary btn-block btn-large" style="font-size: 20px" name="anything_submit" value="Submit" onclick="loading();"> -->
               </form>
            </div>
         </div>
      </div>
      {% if recommended_text %}
      <div class="input_song_artist"
      <div class="row">
         <div class="column left">
            <div class="links-box">
               <p style="font-size: 25px; text-decoration: underline">Based on your chosen song</p>
               <a href="{{song_link}}">
                  <h2> {{input_song}} </h2>
               </a>
            </div>
            <div class="links-box">
               <h2><a href="{{artist_link}}">
                  {{input_artist}} </h2>
                  <img src="{{img_src}}" alt="cover_image" style="width: 400px; height: 400px">
               </a>
            </div>
         </div>
         <div class="column right">
            <div class="recommendation_song">
               <table>
                  <caption>{{ recommended_text }}</caption>
                  <tbody>
                     <tr style="height: 150px">
                        <th>Artist</th>
                        <th>Song</th>
                        <!-- <th>Spotify link</th> -->
                     </tr>
                     {% for artist, song, link in results_list %}
                     <tr>
                        <td style="height: 75px">
                           <a href="{{link}}">
                           {{ artist }}
                           </a>
                        </td>
                        <td>
                           <a href="{{link}}">
                           {{ song }}
                           </a>
                        </td>
                        <!-- <td>{{ link }}</td> -->
                     </tr>
                     {% endfor %}
                  </tbody>
               </table>
            </div>
         </div>
      </div>
      </div>
      {% endif %}      
      </div>      
   </body>
   </div>
   <footer>
      <p class="noselect">&nbsp</p>
      <p class="noselect">&nbsp</p>
      <p><span>Developed by </span><a class="link" href="https://www.linkedin.com/in/jonathanliu1996/" target="_blank" rel="noopener" aria-label="LinkedIn link">Jonathan Liu</a></p>
      <span>Source code available on </span><a class="link" href="https://github.com/jonathanliu1996/personal_projects/tree/main/Spotify_Music_Recommendation" target="_blank" rel="noopener" aria-label="GitHub link">GitHub</a>
   </footer>
</html >